@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap');

body{
    font-family: "Ysabeu sc", sans-serif;
    
}
.main__container{
    background-color: #121212;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    width: 100vw;
 


}
.main__container .cabecalho{
    background-color: #242424;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    color: #fff;
    height: 85px;
    


}

.cabecalho img{
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    
    
}

.main__container .container__input{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    color: #fff;
    margin: 8px;
    height: 400px;
    
}

.input, .main__container .container__input #output{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #232323;
    border: none;
    border-radius: 20PX;
    margin: 12px;
    padding: 20px;
    width: 300px;

}
 .input #input__texto{
    background: transparent;
    text-decoration: none;
    text-transform: none;
    border: none;
    padding: 18px 100px 0px 18px;
    outline: none;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
    width: 200px;
    height: 250px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.main__container .container__input .input p{
    padding: 12px;
}
.main__container .container__input #output{
    display: flex;
    align-items: center;

}
.main__container .container__input #output img{
    border-radius: 20px;
    width:250px;
    height: 200px;
    padding: 12px;

}
.main__container .container__btn{
    display: flex;
    justify-content: space-evenly;
    gap: 120px;

    
    

}
.btn_descripto , .btn_cripto , .copy{
    border: none;
    text-decoration: none;
    text-transform: none;
    border-radius: 30%;
    background-color: #242424;
    color: #fff;
    font-weight: 700;
    padding: 12px;
    border-style:solid;
    border-color: #232323;


    
}



.copy{
    background-color: #121212;
}
#copia{
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    }

@media screen and (max-width: 768px) {
    .main__container{
        display: flex;
        
    }
    .main__container .container__input #output img{
        border-radius: 20px;
        width: 50%;
        height: 50%;
        
        padding-bottom: 2px;}

        #copia{
        width: 200px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
       
        }
        
    .main__container .container__input{
            display: block;
            justify-content: space-between;
        
            padding: 2px;
            color: #fff;
            margin: 0;
    }
    
   .input #input__texto{
        width: 20%;
        padding: 10px 100px 0px 10px
    }
        

        .cabecalho img{
            border: none;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            padding-left: 8px;
            margin-left: 15px;}
         .main__container .cabecalho{
            background-color: #242424;
            padding: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            height: 50px;
            width: 100%;
        margin-top: 0; }
              
        .cabecalho h1{
            margin-right: 20px;  
}
.main__container {

    
    margin: 0;
    align-items: center;

}
.main__container .container__input{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 70%;
    
    
}
    .input , .main__container .container__input #output{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        background-color: #232323;
        border: none;
        border-radius: 20PX;
        width: 80%;
        height: 40%;
        padding: 15px;}
    .main__container .container__btn{
            display: flex;
            justify-content: center;
            gap: 5%;
            margin: 25PX;
            padding: 0;
           
           
            

            
            
        
        }
        .btn_descripto ,  .btn_cripto , .copy{
            padding: 12px;
            
        }
        
            
    }
