@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap');

body{
    font-family: "Ysabeu sc", sans-serif;
    
}
.main__container{
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: content-box;

}
.main__container .cabecalho{
    background-color: #242424;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    height: 85px;


}

.cabecalho img{
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    
    
}
 .cabecalho h1{
    margin-right: 250px;
    

}
.main__container .container__input{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
    margin: 8px;
    
}

.main__container .container__input .input, .main__container .container__input #output{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #232323;
    border: none;
    border-radius: 20PX;
    margin: 12px;

}
 .input #input__texto{
    background: transparent;
    text-decoration: none;
    text-transform: none;
    border: none;
    padding: 18px 100px 0px 18px;
    outline: none;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
    width: 350px;
    height: 300px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.main__container .container__input .input p{
    padding: 12px;
}
.main__container .container__input #output{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;

}
.main__container .container__input #output img{
    border-radius: 20px;
    width:350px;
    height: 300px;

}
@media screen and (max-width: 768px) {
    .main__container{
        display: block;
    }
    .main__container .container__input #output img{
        border-radius: 20px;
        width: 100px;
        height: 75px;}
    .main__container .container__input{
            display: block;
            justify-content: space-between;
        
            padding: 20px;
            color: #fff;
            margin: 0;
    }
    .input #input__texto{
        background: transparent;
        text-decoration: none;
        text-transform: none;
        border: none;
        padding: 18px 100px 0px 18px;
        outline: none;
        text-overflow: ellipsis;
        overflow:hidden;
        white-space: nowrap;
        width: 100px;
        height: 75px;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        font-family: Verdana, Geneva, Tahoma, sans-serif;}
        .cabecalho img{
            border: none;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            padding-left: 8px;
            margin-left: 15px;}
         .main__container .cabecalho{
            background-color: #242424;
            padding: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            height: 50px; }  
        .cabecalho h1{
            margin-right: 20px;}   
}